data/skeleton/ntu60_2d.pkl
.ipynb_checkpoints/*.ipynb

data/Action-Recognition_out.mp4
data/DJI_0011_12r_10s_1_out.mp4
data/DJI_0011_12r_10s_3_out.mp4
data/DJI_0012_12r_10s_3_out.mp4

data/anno/DJI_0011_12r_10s_1_gt.mp4
data/anno/DJI_0011_12r_10s_1_test.mp4
data/anno/DJI_0012_12r_10s_2_gt.mp4
data/anno/DJI_0012_12r_10s_2_test.mp4
data/anno/DJI_153920_12r_10s_2_gt.mp4
data/anno/DJI_153920_12r_10s_2_test.mp4

work_dirs/ciis_1/
work_dirs/temp/
